{% extends "base.html" %}
{% load static %} 

 {% block content %}


    
    <div id="main-wrapper"> 

      <div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="single-post-feature-img">
            <img src="{% static 'assets/dist/img/post-single/image.jpg' %}" alt="">
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                <h2 class="rq-title">О компании</h2>
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="/">ГЛАВНАЯ</a></li>
                  <li class="active">О компании</li>
                </ol>
              </div>
              
              <div class="post-content">
           
<p style="font-size: 20px" >
	
	Что делать, если у вас скоро особенное мероприятие, а Вам совершенно нечего одеть и все ваши поиски подходящего наряда и образа не увенчались успехом. А если платье очень понравилось, но вас огорчает цена, тем более, что потом оно просто будет висеть в шкафу? Идеальный вариант, взять напрокат у нас♥️ Приятный бонус этого простого волшебства – двойная экономия:<br><br>

			<i>места в вашем шкафу;<br>
денег в вашем кошельке.</i>
</p>

			<p style="font-size: 20px" >
Прямо сейчас в салоне Velvet Dresses в наличии более 300 платьев, каждое из которых находится в идеальном состоянии – чистое, поглаженное и без постороннего запаха. Волнуетесь о том, хорошо ли сядет наряд? Нет никаких причин для переживаний: мы подгоним понравившееся платье именно под вашу фигуру!</p>
.
			<p style="font-size: 20px" >


Коллекция Velvet Dresses постоянно обновляется. Платья, которые были в прокате уже много раз, мы продаем. Кстати, по ценам, низким для одежды в столь хорошем состоянии! Не подошел ни один наряд из каталога салона? Возможен пошив на заказ по вашему фото или эскизу</p>
		</div><!-- /.inner-element -->	
	</div><!-- /.container -->
</div><!-- /.mission -->



              </div>




		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.team -->
 


 




 







  {% endblock content %}