{% extends "base.html" %}
{% load static %} 

 {% block content %}


    
    <div id="main-wrapper"> 

      <div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="single-post-feature-img">
            <img src="{% static 'assets/dist/img/post-single/image.jpg' %}" alt="">
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                <h2 class="rq-title">СВЯЗАТЬСЯ С НАМИ</h2>
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="/">ГЛАВНАЯ</a></li>
                  <li class="active">КОНТАКТЫ</li>
                </ol>
              </div>
              
             

<div  class="stores base-padd">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-element">
                    <i class="rq-phone"></i>
                    <h4 class="font-25-pla-reg-0"  style="color: black">
Позвоните нам</h4>
                    <p>(+998) 71-268-48-47</p>
                    <p>(+998) 99-484-46-70</p><br>
                </div><!-- /.inner-element --> 

                  <div class="inner-element">
                  <i class="rq-clock"></i>
                    <h4 class="font-25-pla-reg-0" style="color: black">Мы работаем</h4>
                    <p>Понедельник - Воскресенье: 10.00 - 19.00</p><br>	
                </div>

                  <div class="inner-element">
                <i class="rq-map-marker"></i>
                    <h4 class="font-25-pla-reg-0" style="color: black">Наш адрес</h4>
                    <div class="portion">
                        <h4 class="font-18-pla-reg-2" style="color: black">Буюк Ипак Йули 103 дом 69 кв. </h4>
                        <p>Ориентир: Мир Подарков </p>
                        <p>Ташкент, Узбекистан</p><br> 
                    </div><!-- /.portion -->
                  
                </div><!-- /.inner-element -->
                       
              
            </div>

            <div class="col-sm-6">
               
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d929.3171248721497!2d69.3278123284699!3d41.32636542713429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef4f0b9789871%3A0x2660b441daac257d!2s103%20Buyuk%20Ipak%20Yuli%20Road%2C%20Tashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1638707329513!5m2!1sen!2s" width="400" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div><!-- /.col-sm-4 -->


          
           
    </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.stores -->


	
	</div><!-- /.container -->
</div><!-- /.mission -->



              </div>




		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.team -->
 


 




 







  {% endblock content %}