{% extends "base.html" %}
{% load static %} 

 {% block content %}


    
    <div id="main-wrapper"> 

      <div class="rq-page-content">
        <div class="blog-post-single-wrapper">
          <div class="single-post-feature-img">
            <img src="{% static 'assets/dist/img/post-single/image.jpg' %}" alt="">
          </div>
          <div class="container">
            <div class="rq-content-block">
              <div class="rq-title-container bredcrumb-title text-center">
                <h2 class="rq-title">УСЛОВИЯ АРЕНДЫ ПЛАТЬЯ </h2>
                <ol class="breadcrumb rq-subtitle">
                  <li><a href="/">ГЛАВНАЯ</a></li>
                  <li class="active">УСЛОВИЯ АРЕНДЫ</li>
                </ol>
              </div>
              
              <div class="post-content">
           
<p style="font-size: 20px" >
	
✔️Записаться на примерку по телефону +998 71-268-48-47

</p>
<p style="font-size: 20px" >
	

✔️Приехать в салон . Подобрать платье . ( Вы можете забронировать платье на желаемую дату или арендовать день в день ,если платье свободно на ваши даты )

</p>
<p style="font-size: 20px" >
	

✔️Оплатить стоимость аренды и оставить залог ( залог возвращается при сдаче Платья обратно в салон )


</p>
<p style="font-size: 20px" >
	
✔️Аренда осуществляется только при наличии ПАСПОРТА. 
</p>
<p style="font-size: 20px" >
	✔️Вернуть платье в указанный срок 

</p>
<p style="font-size: 20px" >
	<i>Милые девушки , сообщаем ,что вы несёте юридическую ответственность за сохранность платья / аксессуаров VELVET DRESSES ❤️ </i>
	
	<br><br><br>
	<strong>ВАЖНО:
	</strong>если по какой-либо причине вы отказываетесь от Забронированного Платья ,то сумма задатка не возвращается 

</p>

		</div><!-- /.inner-element -->	
	</div><!-- /.container -->
</div><!-- /.mission -->



              </div>




		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.team -->
 


 




 







  {% endblock content %}